@model SwGlobal.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/fonts/font-awesome.css"))
    @Styles.Render("~/Content/Regitser.css")
</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/Image/swglobal.PNG" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-results">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone number" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.HomeAddress, new { @class = "form-control", placeholder = "Address" })
                            @Html.ValidationMessageFor(m => m.HomeAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            @*<input type="password" name="" class="form-control input_pass" value="" placeholder="password">*@
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            @*<input type="password" name="" class="form-control input_pass" value="" placeholder="password">*@
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Register</button>
                        </div>


                    }

                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Registered? <a href="@Url.Action("Login", new {Area = "", Controller = "Account"})" class="ml-2" style="color:white">Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>


</html>
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

@Scripts.Render("~/Scripts/controllers/user_register.controller.js")
<script>
    
    $('#register-form').submit(function (e) {
        e.preventDefault();
        if ($(this).valid()) {
            this.submit();
        }
    });
</script>
}
